.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
}

.footer__brand-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__brand-description p {
  text-align: center;
  font: 400 18px 'Montserrat';
  color: rgb(var(--color-foreground));
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  padding: 0;
}

.footer__menu-list li {
  list-style-type: none;
}

.footer__list-item {
  color: rgb(var(--color-foreground));
  font: 500 21px 'Montserrat';
  text-decoration: none;
  position: relative;
}




.footer__list-item:hover {
  color: rgb(var(--color-foreground));
}

.footer__list-item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-foreground));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footer__list-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.footer__list-social .svg-wrapper {
  width: 44px;
  height: 44px;
}

.footer__list-social .svg-wrapper svg {
  width: 44px;
  height: 44px;
}

.footer__copyright--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.footer__copyright-content {
  font: 400 16px 'Montserrat';
  color: rgb(var(--color-foreground));
}

.footer__copyright-content a {
  font: 400 16px 'Montserrat';
  color: rgb(var(--color-foreground));
  text-transform: capitalize;
}

.footer


