.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
}

.footer__brand-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__brand-description p {
  text-align: center;
  font: 400 18px 'Montserrat';
  color: rgb(var(--color-foreground));
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
}

.footer__menu-list li {
  list-style-type: none;
}

.footer__list-item {
  color: rgb(var(--color-foreground));
  font: 500 21px 'Montserrat';
}