.section-header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navdrawer__open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--color-background));
  border: none;
  outline: none;
}

.navbar__cart-btn {
  display: flex;
  align-items: center;
}

.nav-drawer__wrapper {
  display: grid;
  background-color: rgb(var(--color-background));
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  max-width: 450px;
  grid-template-rows: 60px 1fr 35px;

}

.nav-drawer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #3C1D51;
  color: white;
  padding-inline: 12px;
}

.nav-drawer__logo {
  width: 120px;
  object-fit: cover;
}

/* .nav-drawer__close-btn {
  display: flex;
  align-items: center;
  transition: transform 0.5sec ease-in-out;
}

.nav-drawer__close-btn:hover {
  transform: rotate(90deg);
} */

.nav-drawer__close-btn {
  display: flex;
  align-items: center;
  transform: rotate(0);
  transition: transform 0.3s ease-in-out ;
}

.nav-drawer__close-btn:hover {
  transition: transform 0.3s ease-in-out ;
  transform: rotate(90deg);
}

.nav-drawer__content {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: column;
  padding: 25px;
}

.nav-drawer__title {
  font: 800 25px 'Montserrat';
  color: rgb(var(--color-background));
}