.section-header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navdrawer__open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--color-background));
  border: none;
  outline: none;
}

.navbar__cart-btn {
  display: flex;
  align-items: center;
}

.navdrawer__wrapper {
  display: grid;
  background-color: rgb(var(--color-background));
  position: fixed;
  width: 100vw;
  height: 100vh;
  
}