@font-face {
  font-family: 'Futura PT Medium';
  src: url('https://cdn.shopify.com/s/files/1/0852/8553/6031/files/FuturaCyrillicMedium.woff?v=1729828394');
}

.section-header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
}

.navdrawer__open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--color-background));
  border: none;
  outline: none;
}

.navbar__cart-btn {
  display: flex;
  align-items: center;
}

.nav-drawer__wrapper {
  display: grid;
  background-color: rgb(var(--color-background));
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -999px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  max-width: 450px;
  grid-template-rows: 60px 1fr 35px;
  transition: left 0.5s ease-in-out;

}

.open {
  left: 0;
}



.nav-drawer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #3C1D51;
  color: white;
  padding-inline: 12px;
}

.nav-drawer__logo {
  width: 120px;
  object-fit: cover;
}

/* .nav-drawer__close-btn {
  display: flex;
  align-items: center;
  transition: transform 0.5sec ease-in-out;
}

.nav-drawer__close-btn:hover {
  transform: rotate(90deg);
} */

.nav-drawer__close-btn {
  display: flex;
  align-items: center;
  transform: rotate(0);
  transition: transform 0.3s ease-in-out ;
}

.nav-drawer__close-btn:hover {
  transition: transform 0.3s ease-in-out ;
  transform: rotate(90deg);
}

.nav-drawer__content {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
}

.nav-drawer__title {
  font: 800 25px 'Montserrat';
  color: rgb(var(--color-foreground));
  text-align: start;
  margin: 0;
  text-transform: uppercase;
}

.product__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}

.nav-drawer__product-card {
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  background-image: linear-gradient( #5D4EAD, #2F0A2F);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.nav-drawer__product-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding-inline: 15px;
  gap: 5px;
}

.product-title {
  font: 600 29px 'Montserrat';
  color: white;
  margin: 0;
}

.product__review-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.product__review-wrapper span {
  color: white;
  font: 400 13px 'Montserrat';
}

.nav-drawer__product-img {
  object-fit: cover;
}

.product__value-points {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 8px;
}

.product__value-points p {
  font: 300 13px 'Montserrat';
  display: flex;
  align-items: center;
  margin: 0;
  gap: 2px;
}

.product__value-points span {
  display: flex;
  align-items: center;
}


.nav-drawer__menu-wrapper {
  display: flex;
  padding-inline: 10px;
}

.nav-drawer__parent-menu {
  margin: 0;
  display: flex;
  gap: 85px;
  padding: 0
  
}

.parent_link {
  font: 18px 'Futura PT Medium';
  text-transform: uppercase;
  color: #909090;
}

.parent_link a {
  color: #909090;
  margin-bottom: 20px;
  text-decoration: none;
}

.nav-drawer__child-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;
  font: 18px 'Futura PT Medium';
  color: #110700;
  text-transform: capitalize;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.child_link {
  margin: 0;
  text-transform: capitalize;
  color: #110700;
}

.child_link a {
  color: #110700;
  text-decoration: none;
}

.nav-drawer__parent-menu li {
  list-style-type: none;
}

.nav-drawer__social-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #909090;
  width: 100%;
}

.nav-drawer__social-wrapper h2 {
  font: 400 16px 'Montserrat';
  color: #909090;
  margin-bottom: 0;
}

.header__list-social {
  display: flex;
  justify-content: center;

}

.header__list-social .svg-wrapper {
  width: 36px;
  height: 36px;
}

.header__list-social .svg-wrapper svg {
  width: 36px;
  height: 36px;
}

.header__list-social .svg-wrapper svg path {
  color: #2F0A2F;
}

.header__copyright--wrapper {
  display: flex;
  background: black;
  align-items: center;
  justify-content: center;
}

.header__copyright-content {
  color: white;
  font: 400 14px 'Montserrat';
}

.header__copyright-content a {
  color: white;
  font: 400 14px 'Montserrat';
  margin: 0;
  /* align-items: center;
  display: flex;
  justify-content: center; */
}

.nav-bar__menu {
  display: none;
}

.product__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  border-radius: 50px;
  border: 2px solid #3C1D51;
  background-color: #3C1D51;
  font: 700 20px 'Montserrat';
  color: white;
  text-decoration: none;
}

.product__btn:hover {
  background-color: white;
  color: #3C1D51;
} 

.product

@media screen and (min-width: 786px) {

  .section-header__bar {
    height: 80px;
    padding-inline: 100px;
  }

  .navdrawer__open-btn {
    display: none;
  }

  .nav-drawer__wrapper {
    display: none;
  }

  .nav-bar__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
  }

  .nav-bar__menu-item {
    font: 500 16px 'Montserrat';
    color: rgb(var(--color-foreground));
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
  }


  /* .nav-bar__menu-item:hover {
    color: rgb(var(--color-foreground));
  } */

  .nav-bar__menu-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--color-foreground));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav-bar__menu-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .navbar__cart-btn svg {
    width: 30px;
    height: 30px;
  }
}




